<%- include('../layouts/header.ejs', { title: 'Badyet - Track & Plan your Budget!' }) %>
    <div class="container main-signin-form">
        <div class="row justify-content-center">
            <div class="col-5">

                <div class="text-center signin-form-logo main-logo">
                    <h2>Badyet</h2>
                </div>

                <div class="signin-form shadow-box">
                    <div class="form-group text-center">
                        <label for="label"><h4>Sign In</h4></label>
                    </div>
                    <form action="/app/sign-in" method="POST" id="form-sign-in">
                        <div class="form-group">
                            <label for="userEmail"><strong>Email address</strong></label>
                            <input type="email" name="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Enter email">                        </div>
    
                        <div class="form-group">
                            <label for="userPassword"><strong>Password</strong></label>
                            <input type="password" name="password" class="form-control" id="userPassword" placeholder="Password">
                        </div>
                        
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>"> 
                        <button type="submit" id="btn-sign-in" class="btn btn-primary btn-block">Sign In</button>
                        
                        <div class="form-group text-center main-form-policy">
                            <small>
                                    <label for="label">Forgot your
                                    <a class="btn btn-link form-policy" href="#" role="button">Username</a> or
                                    <a class="btn btn-link form-policy" href="#" role="button">password?</a>
                                </label>
                            </small>
                        </div>
                    </form>

                    <div class="form-group text-center">
                        <label for="label">New to Badyet?</label>
                        <a class="btn btn-outline-secondary btn-block" href="/app/sign-up" role="button">Create Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('../layouts/script.ejs', { signInJs: true}) %>    
<%- include('../layouts/footer.ejs') %>