
    <% if (currentUserAuthenticated) { %>
            <script src="/js/axios.min.js"></script>
            <script src="/js/app.js" type="module"></script> 
            <script src="/datepicker.min.js" ></script> 
    <% } %>  
    

</body>
</html>
