<div class="container navigation-var">
    <nav class="navbar">
        <a class="navbar-brand brand-title" href="/"><h2><strong>Badyet</strong></h2></a>
        <div class="form-inline">
            <button class="btn btn-outline-secondary login-account" type="button">Sign In</button>
            <button class="btn btn-outline-success text-right create-account" type="button">Create Account</button>
        </div>
    </nav>
</div>

