<%- include('header.ejs', {title: 'Page not found!'}) %>
    <link rel="stylesheet" href="/css/statuscode.css">
</head>
<body> 
    
    <div class="container">
        <div class="row">
            <div class="col-sm alert alert-danger page-not-found" role="alert">
                <h1 class="text-center">Page not foundsss!</h1>
            </div>
        </div>
    </div>
<%- include('footer.ejs') %>    