html body {
    height: 100%;
    font-family: 'Karla', sans-serif;
    background-color: #fafafa;; 
}

.main-logo > h2 {
    color: #c20606;
    font-weight: 600;
}

.brand-title:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.create-account {
    margin-left: 10px;
}

.main-error-page {
    margin-top: 35vh;
    color: black;
}

.page-not-found {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/**************** User ***********************/ 

.shadow-box {
    background-color: white;
    box-shadow: 0 0px 5px rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.2);
}

.main-signin-form {
    margin-top: 100px;
}

.signin-form-logo {
    margin-bottom: 20px;

}

.signin-form {
    padding: 25px;
    border-radius: 5px;
}

.main-form-policy {
    margin-top: 15px;
}

.form-policy {
    font-size: 13px;
    padding: 0px;
}

/* Side Panel  */

.main-app-container {
    height: 100vh;
    overflow: auto;
}

/******************** Left *****************/

.left-panel-container {
    height: 100vh;
    background-color: #fafafa;
}

.left-panel-brand {
    color: #c20606;
    height: 10%;
    box-shadow: 0 0px 5px rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.2);
}

.left-panel-control {
    height: 70%;
    box-shadow: 0 0px 5px rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.2);
}

.left-panel-nametag {
    height: 20%;
    box-shadow: 0 0px 5px rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.2);
}



/******************** MIDDLE *****************/
.main-panel-container {

}

/* Data Mid */
.main-data {
    max-height: 2279px;
    margin: 0px;
    background-color: #fafafa;
}

.data-item{
    height: 200px;
    background-color: white;
    box-shadow: 0 0px 5px rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.2);
    margin: 10px 10px 20px 10px;
    border-radius: 10px;
}

/* Date Nav */

.main-date {
    height: 100px;
    background-color: #fafafa;
    margin: 0px;
}

.data-date{
    height: 65px;
    background-color: #fafafa;;
    border-bottom: 1px solid #69757a;
    margin: 10px 10px 20px 10px;
  
}

/******************** RIGHT *****************/
.right-panel-container {
    height: 100vh;
}
