<div class="data-date">
    <div id="">
        <button type="button" class="btn btn-light badyet-date no-focus"><%= income.month %> <span><%= income.year %> <i class="fas fa-caret-up no-focus"></i></span></button>
        
        <div class="amount-budgeted">
            <span class="amount-budgeted-amount">
                $100.00
            </span>
            <span class="amount-budgeted-text">
                left to budget
            </span>
        </div>
    </div>
</div>