<div class="card editable-item-form">
    <div class="row editable-form">
        <div class="col-6">
            <input class="form-control" type="text" name="label" placeholder="title" >   
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <input class="form-control" type="text" name="planned" placeholder="planned">     
                </div>
                <div class="col-6">
                    <input class="form-control" readonly type="text" name="planned" placeholder="0.00">     
                </div>
            </div>

        </div>
    </div>          
</div>