  <div class="col category-list">
    <div class="data-item text-center loading-header">
            <h1>HI</h1>    
    </div>
 </div>


                        
             

 
 
 <!-- <div class="col category-list">
    <div class="data-item text-center no-income-header">
        <h4 class="font-weight-bold">Hi There, looks like you need a budget for Septermber</h4>
        <button type="submit" class="btn btn-info" role="button" href="/">Start Planning for September</button>
    </div>  
 </div> -->
    