<div class="row top-panel-header">
    <div class="col-12">

        <div class="row "></div>
    </div>

    <div class="col-12 text-center">
        
        <p class="top-panel-header-info">
            <span style="display: block; font-size: 20px;">Income</span>
            <strong style="display: inline-block; font-size: 35px">$<%= income.budget %></strong>
        </p>
    </div>

</div>

<div class="row middle-panel-data justify-content-md-center">
    <div class="col-3"> 
        <button type="button" class="btn no-focus tab-data-planned active-tab">PLANNED</button>
    </div> 
    <div class="col-3">
        <button type="button" class="btn no-focus tab-data-spent">SPENT</button>
    </div> 
    <div class="col-3">
        <button type="button" class="btn no-focus tab-data-remaining">REMAINING</button>
    </div> 
</div>

<div class="row bottom-panel-data justify-content-md-center">
    <div class="col col-lg-8 bottom-panel-data-budget-data">
        <div class="list-group budget-data-list">
            
            <% summary.forEach( cate => { %>
                <a href="#" class="list-group-item list-group-item-action budget-data-item">
                    <%= cate.title %>
                    <span class="float-right">$<%= cate.total %> </span>
                </a>

            <% })  %>  
        </div>
    </div> 
</div>