<div class="col-2 left-panel-container sticky-top">
    <div class="row left-panel-brand text-center">
        <a class="navbar-brand brand-title main-logo" href="/"><h2>Badyet</h2></a>
    </div>

    <div class="row left-panel-control text-center">
        <div class="col">
            <div class="upper-main-control main-control-active">
               <a role="button" class="btn main-control-btn no-focus" href="/app/badyet"><i class="fas fa-hand-holding-usd icon-settings"></i>Badyet</a>
            </div>

            <div class="lower-main-control">
               <a role="button" class="btn main-control-btn no-focus" href="/app/settings"><i class="fas fa-user-cog icon-settings"></i>Settings</a>
            </div>
        </div>
    </div>

    <div class="row left-panel-nametag text-center">
        <div class="col">
            <h4><%#= currentUserUsername %></h4>
            <div class="nametag-main">
                <form action="/app/sign-out" method="POST">
                    <input type="hidden" name="_csrf" value="<%#= csrfToken %>"> 
                    <button type="submit" class="btn btn-outline-secondary" role="button" href="/">Sign Out</button>
                </form>
            </div>
        </div>
    </div>
</div>